services:
  web:
    environment:
      - NODE_ENV=production
    command: "npm run start"

  api:
    command: "php artisan octane:start --server=roadrunner --host=0.0.0.0 --port=8000 --max-requests=500"
    deploy:
      resources:
        limits:
          cpus: '1.0'
          memory: 1G
