version: "3.9"
services:
  nginx:
    image: nginx:1.28-alpine
    depends_on: [web, api]
    volumes:
      - ../../nginx/default.conf:/etc/nginx/nginx.conf:ro
      - ../../nginx/conf.d:/etc/nginx/conf.d:ro
      - web_static:/var/www/web/.next:ro
      - api_public:/var/www/api/public:ro
    ports:
      - "80:80"
      - "443:443"
    networks: [bcms_net]

  web:
    build: ../../apps/web
    env_file: ../../apps/web/.env
    networks: [bcms_net]
    volumes:
      - web_static:/app/.next

  api:
    build: ../../apps/api
    env_file: ../../apps/api/.env
    networks: [bcms_net]
    volumes:
      - api_public:/var/www/api/public
    depends_on: [db, redis]

  horizon:
    build: ../../apps/api
    command: php artisan horizon
    env_file: ../../apps/api/.env
    networks: [bcms_net]
    depends_on: [api, redis, db]

  scheduler:
    build: ../../apps/api
    command: sh -c "while true; do php artisan schedule:run --verbose --no-interaction; sleep 60; done"
    env_file: ../../apps/api/.env
    networks: [bcms_net]
    depends_on: [api, redis, db]

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: bcms
      POSTGRES_PASSWORD: bcms
      POSTGRES_DB: bcms
    volumes:
      - db_data:/var/lib/postgresql/data
    networks: [bcms_net]
    ports: ["5432:5432"]

  redis:
    image: redis:8-alpine
    command: ["redis-server", "--appendonly", "yes"]
    networks: [bcms_net]
    ports: ["6379:6379"]

volumes:
  db_data:
  web_static:
  api_public:

networks:
  bcms_net:
